.container{
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

}

img{
    width: 100px;
    border-radius: 50%;
    border:  1px solid gray;
}

.member{
    border: 1px solid black;
    background-color: white;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
}
.aa{
        display: flex;
        flex-direction: column;
        gap: 20px;
}