.container{
  margin: 0 auto;
  margin-top: 30px;
  width: 50%;
} 
h2{
  text-align: center;
  margin: 8px, 0px;
}
table,tr,td{
  border: 1px solid black;
}
table{
  text-align: center;
  width: 100%;
}
td{
  padding: 4px;
}
.right-div{
  text-align: right;
  font-size: 0.8rem;
}
.red-span{
  font-size: 0.6rem;
  color: red;
  vertical-align: top;
}
.btn-div{
  text-align: right;
}
thead > tr{
  background-color: aqua  ;
}
tbody > tr{
  background-color: aquamarine;
}