table{
  width: 700px;
  margin: 0px auto;
  border-collapse: collapse;
  border-bottom: 2px solid black;
  text-align: center;
}

/* 제목 행에는 위, 아래 테두리만! */
thead > tr{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
  background-color: rgba(177, 240, 247);
}

/* 내용에는 아래 테두리만! */
tbody > tr{
  border-bottom: 1px solid black;
}

td {
  padding: 5PX;
}

tbody > tr:nth-child(even){
  background-color: rgb(199, 199, 199);
}

/* 내용 행에서 제목 열만 정렬 변경 */
tbody > tr > td:nth-child(2){
  text-align: left;
}

/*
색상 변경 방법
1.정해진 키워드 사용(red.blue...)
2.RGB 문법 사용(0~F) 00(빨) 00(초) 00 (파)
ex) #00000 ->검은색
ex) #fffff ->흰색
ex) #00ff00 ->초록색
rgb(0,0,255) -> 파랑

3.RGBA 문법 사용
RGBA(0,0,255,0~1)
마지막 값이 0이면 투명,1이면 불투명
  */

